
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
    background: linear-gradient(to right, black 0%, black 50%, white 50%, white 100%);
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 0 auto; 
  }

  .choices {
    position: absolute;
    left: 2%;
    top: 2%;
    background-color: white;
    background: rgb(255, 255, 255, 0.9);
    padding: 0 15px 5px;
    border: 5px solid white;
    width: 10%;
  }
  @media only screen and (max-width: 700px) {
      .choices {
        top: 20%;
        font-size: 0.5rem;
      }
  }

  .photo_upload {
    background: rgba(0, 0, 0, 0.9);
    padding: 0 0;
    width: 30%;
    border: 5px solid grey;
    margin: 0 auto; 
    display: inline-block;
  }
  h1 {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 15px 20px 0;
    font-size: 4rem;
  }

  .upload_text {
    color: white;
  }
  #fileInput {
    display: none;
  }
  .button {
    background-color: grey;
    color: white;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    min-width: 20px;
    font-size: 0.6rem;
  }
  #preview {
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 5px;
  }
  #message {
    color: white;
    font-size: 10px;
    margin-bottom: 20px;
  }

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.radio_buttons {
  color: black;
}

.roasts {
  color: white;
}

.compliments {
  color: black;
}